<!DOCTYPE html>
<html>
<head>
    <title>Cafe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
        }
        .hero {
            background-image: url('/static/logo.jpeg');
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
        }
        .hero h1 {
            font-size: 5rem; /* Changed font size to 5rem */
            margin-bottom: 20px;
            color: #ff8c00; /* Changed font color to orange */
        }
        .hero p {
            font-size: 2rem; /* Changed font size to 2rem */
            margin-bottom: 20px;
            color: #333; /* Changed font color to dark gray */
        }
        .button {
            padding: 10px 20px;
            background-color: #ff8c00;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            text-transform: uppercase;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .button:hover {
            background-color: #ff6f00;
        }
    </style>
</head>
<body>
    <div class="hero">
        <img src="/static/logo.png" alt="Logo" width="200">
        <h1>Chai Cremery</h1>
        <p>Delicious Chai and Food in a cozy atmosphere</p>
        <a href="{{ url_for('menu') }}" class="button">View Menu</a>
    </div>
</body>
</html>
