<!DOCTYPE html>
<html>
<head>
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f8f8;
        }
        .menu-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .menu-item {
            background-color: white;
            border-radius: 5px;
            padding: 20px;
            margin-bottom: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .menu-item img {
            max-width: 100px;
            border-radius: 5px;
            margin-right: 20px;
            float: left;
        }
        .menu-item h2 {
            margin-top: 0;
            margin-bottom: 10px;
        }
        .menu-item p {
            margin-top: 0;
        }
        .quantity {
            width: 50px;
            padding: 5px;
            margin-right: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
        .add-to-cart {
            display: inline-block;
            padding: 8px 16px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="menu-container">
        <div class="menu-item">
            <img src="/static/tomato soup.jpeg" alt="Tomato Soup">
            <h2>Tomato Soup</h2>
            <p>A classic tomato soup served with a slice of bread.</p>
            <p><b>$2.50</b></p>
            <input type="number" class="quantity" value="1" min="1">
            <a href="/order?name=Tomato%20Soup&image=tomato soup.jpeg" class="add-to-cart">Add to Cart</a>
        </div>
        <div class="menu-item">
            <img src="/static/grilled_fish.jpeg" alt="Grilled Fish and Potatoes">
            <h2>Grilled Fish and Potatoes</h2>
            <p>Grilled fish served with roasted potatoes.</p>
            <p><b>$8.50</b></p>
            <input type="number" class="quantity" value="0" min="1">
            <a href="/order" class="add-to-cart">Add to Cart</a>
        </div>
        <div class="menu-item">
            <img src="/static/fruit_salad.jpeg" alt="Fruit Salad">
            <h2>Fruit Salad</h2>
            <p>A refreshing mix of seasonal fruits.</p>
            <p><b>$2.50</b></p>
            <input type="number" class="quantity" value="0" min="1">
            <a href="/order" class="add-to-cart">Add to Cart</a>
        </div>
        <div class="menu-item">
            <img src="/static/chicken_tandoori.jpeg" alt="Chicken Tandoori">
            <h2>Chicken Tandoori</h2>
            <p>Smoky flavoured chicken tandoori with Indian Spices.</p>
            <p><b>$12.50</b></p>
            <input type="number" class="quantity" value="0" min="1">
            <a href="/order" class="add-to-cart">Add to Cart</a>
        </div>
    </div>
</body>
</html>
